{% load static %}
<div class="row">
    <div class="col-md-12">
        <div class="section-title text-center">
            <h3 class="title">Related Products</h3>
        </div>
    </div>

    <!-- product -->
    {% for product in item_list %}
    <div class="col-md-3 col-xs-6">
        <div class="product">
            <div class="product-img">
                {% if product.featured_image %}
                <img src="{{ product.featured_image.url }}" alt="">
                {% else %}
                <img src="{% static 'img/product01.png' %}" alt="">
                {% endif %}
                <div class="product-label">
                    <span class="sale">-{{ product.discount|floatformat:2 }}%</span>
                </div>
            </div>
            <div class="product-body">
                <p class="product-category">{{ product.category }}</p>
                <h3 class="product-name"><a href="#">{{ product.name }}</a></h3>
                <h4 class="product-price">${{ product.new_price }} <del class="product-old-price">${{ product.old_price }}</del></h4>
                <div class="product-rating">
                </div>
                <div class="product-btns">
                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                </div>
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
            </div>
        </div>
    </div>
    <!-- /product -->
    {% endfor %}



</div>